@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 38, 34, 98;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.invitation-card {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
}

.invitation-card.hide {
  top: 2000px;
  bottom: -2000px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 1s ease;
}

.our-epic-journey {
  font-size: 14px;
}

.our-epic-journey td:first-child {
  width: 30%;
  vertical-align: top;
}

.our-epic-journey td:nth-child(2) {
  width: 7%;
}

.our-epic-journey td:last-child {
  width: 63%;
  vertical-align: top;
  padding-bottom: 16px;
}
